<%- include('partials/header'); -%>
<section>

  <h1 class="heading">About</h1>
  <div class="Top_container">
    <div class="infoAbout">
      <div class="About_me"><h1>Know Who I'M</h1></div>
      <div class="Intro"><p>Hi Everyone, I am Harsh kumar from Kaimur, Bihar, India.
        I am a junior pursuing BTech in VIT Chennai.Apart from coding, some other activities that I love to do!
        <ul><li>Playing Games</li>
          <li>Making Tech Websites</li> 
          <li>Travelling</li></ul></p>
        <p>You can also call me a designer, developer, interaction, UI, UX or by any other market defined function-title. I'm also a multi-disciplinary maker with over 1 years of experiences in wide range of design disciplines, manager, advisor, front-end developer, music enthusiast, traveler, photographer and more.</p>
        <p>I don't like to define myself by the work I've done. I define myself by the work I want to do. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that matter.</p>
        <p>Fueled by high energy levels and boundless enthusiasm, I'm easily inspired and more then willing to follow my fascinations wherever they take me. I'm passionate, expressive, multi-talented spirit with a natural ability to entertain and inspire. I'm never satisfied to just come up with ideas. Instead I have an almost impulsive need to act on them.</p>  
        <p>My abundant energy fuels me in the pursuit of many interests, hobbies, areas of study and artistic endeavors. I'm a fast learner, able to pick up new skills and juggle different projects and roles with relative ease.</p>  
        <p> I like to develop expertise in a number of areas over the course of my life and career. My personality type is ENTJ.ENTJ indicates a person who is energized by time spent with others (Extraverted), who focuses on ideas and concepts rather than facts and details (iNtuitive), who makes decisions based on logic and reason (Thinking) and who prefers to be planned and organized rather than spontaneous and flexible (Judging). I currently work remotely with a selected freelance client base and are open for new opportunities.</p>
        <p> You can read more about my pages, experience, skills, education and much more in the options shown above.</p>

      </div>
    </div>
    <div class="infoImageAbout">
      <img class="infoimgabout" src="public/images/wdimg.png" alt="aboutImage">
    </div>
  </div>
  
   
</section>

<%- include('partials/footer'); -%>
