<%- include('partials/header'); -%>
<section>
<div class="section">
  <h1 class="heading" style="color: #f6be71; font-family: 'Courier New', Courier, monospace; ">About</h1>
  <div class="Top_container container">
    <div class="row">
      <div class="col-sm">
        <div class="container infoAbout my-5 " style="z-index: 1;">
            <div class="typewritter">

            
          <p class="card-text">Hi Everyone, I am Harsh kumar from Kaimur, Bihar, India.
          I am pursuing BTech in VIT Chennai.Apart from coding, some other activities that I love to do!
          <ul><li>Playing Games</li>
              <li>Watching movies</li> 
              <li>Travelling</li>
          </ul></p>
          <p class="card-text">You can also call me a designer, developer,UI, UX or by any other market defined function-title. I'm also a multi-disciplinary maker with over 1 years of experiences in wide range of design disciplines, manager, advisor, front-end developer, music enthusiast, traveler, and more.</p>
          <p class="card-text">I don't like to define myself by the work I've done. I define myself by the work I want to do. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that matter.</p>
          <p class="card-text">Fueled by high energy levels and boundless enthusiasm. I'm passionate, expressive, multi-talented spirit with a natural ability to entertain and inspire. I'm never satisfied to just come up with ideas. Instead I have an almost impulsive need to act on them.</p>  
        
        </div>
        </div>
      </div>
      <div class="col-sm">
        <img class="infoimgabout" style="max-height:100%; max-width:100%;" src="public/images/wdimg.png" alt="aboutImage">
      </div>
    </div>

  </div>
</div>
  
   
</section>

<%- include('partials/footer'); -%>
