<%- include('partials/header'); -%>

<section>
  <div class="Top_container">
    <div class="info">
      <div class="wrapper">
        <div class="static-txt">I'm<span style="color: #FFA500;"><b>Harsh Kumar</b></span>,a</div>
        <ul class="dynamic-txts">
          <li><span>DEVELOPER</span></li>
          <li><span>PROGRAMMER</span></li>
          <li><span>DESIGNER</span></li>
          <li><span>FREELANCER</span></li>
        </ul>
      </div>
    </div>
    <div class="infoImage">
      <div class="infoImage1" style="padding-bottom: 20px;"><img class="img-fluid" src="public/images/infopic1.png" alt="home pic"  style="max-height: 450px;"></div>
    </div>
  </div>
  <div class="Middle_container">
    <div class="About_me">
      <h1>Let me introduce myself.</h1>
      <p class="Intro">I fell in love with programming and I have at least learnt something, I think… 🤷‍♂️

I am fluent in classics like C++, Javascript and Python.

My field of Interest's are building new  Web Technologies and Products and also in areas related to Deep Learning and Natural Launguage Processing.

Whenever possible, I also apply my passion for developing products with Node.js and Modern Javascript Library and Frameworks  like React.js and Next.js</p>
    </div>
    <div class="Avatar">
      <img style="max-height:100%; max-width:100%;" src="public/images/homeavatar.png" alt="HK">
    </div>

  </div>
  <div class="Bottom_container">
    <h1>Find me on</h1>
    <h6>Feel free to contact me.</h6>
    <a class="btn" href="mailto:harshkumarsingh005@gmail.com">CONTACT ME</a>
  </div>
</section>


  <%- include('partials/footer'); -%>
