<%- include('partials/header'); -%>
<section>
  <div class="Pagestext"><h1 >My recent projects.</h1><p>Here are a few past design projects I've worked on.</p>
  <p><span><a href="https://github.com/Harshkrsingh05">Visit more</a></span></p></div>
  <div class="projectGrid">
    <div class="pagesImage">
      <img src="public/images/pageImg/journal.jpeg" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Daily journal</div>
        <p class="image_desc"> <span><a class="td" href="https://hkdailyjournal.onrender.com" target="_blank">Here we have daily journal website.</a></span> </p>
      </div>
    </div>
    <div class="pagesImage">
      <img src="public/images/pageImg/keepNotes.jpeg" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Daily keep note</div>
        <p class="image_desc"> <span><a class="td"href="https://hktodolist.onrender.com/" target="_blank">Here we have note keeping website.</a></span> </p>
      </div>
    </div>
    <div class="pagesImage">
      <img src="public/images/pageImg/tapgame.png" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Tap Game</div>
        <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/Simongame/" target="_blank">Here we have Tap Game website.</a></span> </p>
      </div>
    </div>
    <div class="pagesImage">
      <img src="public/images/pageImg/fitharshcalc.png" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Fitharsh</div>
        <p class="image_desc"><span><a class="td"href="https://harshkrsingh05.github.io/FitHarsh-Calculator/" target="_blank">Here we have fitharsh website.</a></span> </p>
      </div>
    </div>
    <div class="pagesImage">
      <img src="public/images/pageImg/drumkit.png" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Drumkit</div>
        <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/Drumset/" target="_blank" >Here we have Drumkit website.</a></span> </p>
      </div>
    </div>
    <div class="pagesImage">
      <img src="public/images/pageImg/ourmenu.jpeg" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Our menu</div>
        <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/hkmenu/" target="_blank">Here we have Our menu website.</a></span> </p>
      </div>
    </div>
    <div class="pagesImage">
      <img src="public/images/pageImg/lovecalculator.png" alt="web" class="image_img">
      <div class="image_overlay">
        <div class="imageTitle">Love Calculator</div>
        <p class="image_desc"> <span><a class="td"href="https://harshkrsingh05.github.io/Love-calculator/" target="_blank">Here we have love calculator website.</a></span> </p>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer'); -%>
